<%= render partial: "/layouts/navbar"%>
<div class="main-content flex-grow-1 p-3">
<div style="margin-left:1rem">
  <h2>Adicionando Usuário</h2>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Voltar para usuários", users_path %>
  </div>
</div>
</div>
