<h1>Editing transporting</h1>

<%= render "form", transporting: @transporting %>

<br>

<div>
  <%= link_to "Show this transporting", @transporting %> |
  <%= link_to "Back to transportings", transportings_path %>
</div>
