<%= render partial: "/layouts/navbar"%>
<div style="margin-left:1rem">
  <h2>Adicionando Motorista</h2>
  <%= render "form", driver: @driver %>
  <br>
  <div>
    <%= link_to "Voltar para Motoristas", drivers_path %>
  </div>
</div>
