<%= turbo_frame_tag "modal" do%>
<div style="margin-left:1rem">
  <h2>Editando Veículo</h2>

  <%= render "form", vehicle: @vehicle %>

  <br>

  <div>
    <%= link_to "Voltar para Veículos", vehicles_path %>
    <%= link_to "Cancel", "#", data: {
        controller: "modals",
        action: "modals#close"
      }, class: "btn-sucess" %>
  </div>
</div>
<%end%>