<%= render partial: "/layouts/navbar"%>
<div style="margin-left:1rem">
  <h2>Adicionando Veículo</h2>

  <%= render "form", vehicle: @vehicle %>

  <br>

  <div>
    <%= link_to "Voltar para Veículos", vehicles_path %>
  </div>
</div>
