/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .popup {
    position: fixed;
    z-index: 1;
    padding: 2em;
    
    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.toast{
    position: fixed;
    z-index: 1;
    padding: 2em;

    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.toast_class{
    z-index: 3;
    padding: 0.725rem;
    margin-top: 0.5rem;
    position: fixed;
    right: 40%;
    color: rgb(255, 255, 255);
    font-weight: bold;

    border-radius: 0.5rem;

    border: 1px solid #52B356;
    background-color: #52B356;
}